{
  extends: ['plugin:vue-libs/recommended'],
  rules: {
    no-tabs: 'off',
    no-unused-vars: 'warn',
    no-multiple-empty-lines: 'warn',
    eol-last: 'warn',
    no-trailing-spaces: 'warn',
    eqeqeq: 'off',
    "handle-callback-err": 'off'
  }
}
